<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">

    <mat-nav-list class="nav-list" routerLink="mercados">
      <a mat-list-item>
        <i class="material-icons">
          storefront
        </i>
        Mercados
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-list-item routerLink="contadores">
        <i class="material-icons">
          face
        </i>
        Contadores
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
